$cultured: #f3f4f6;
$blue-ncs: #4082a5;
$pine-green: #287a6b;
$rich-black-fogra-29: #111827;
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-2xl: 1536px;

.container {
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;

  .banner {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;

    font-family: "Montserrat", sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: 1px;
    .first {
      text-align: center;
      border: 3px solid black;
      padding: 0 1.5rem;
    }

    .second {
      text-align: center;
      .button {
        padding: 0.5rem 1rem;
        border: 2px solid black;
        background-color: white;
        font-weight: 500;
        &:hover {
          border: 2px solid white;
          background-color: black;
          color: white;
        }
      }
    }

    .third {
      justify-self: center;
      align-self: center;
      .arrowDown {
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 10px;
        transform: rotate(45deg);
      }
    }

    @media (min-width: $breakpoint-sm) {
      grid-template-columns: 1fr 1fr;
    }
  }
}
