@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* #231f20
#4082a5
#287a6b */

@layer base {
  body {
    @apply bg-gray-900 
    w-screen 
    h-screen 
    p-0 
    m-0;
  }
  .nav {
    @apply grid
    grid-cols-2
    justify-items-center
    items-center
    p-4;
  }
  .cls-1 {
    @apply fill-current
    text-gray-100;
  }
  .cls-2 {
    @apply fill-current
    text-[#4082a5];
  }
  .cls-3 {
    @apply fill-current
    text-[#287a6b];
  }
  .links {
    @apply grid 
    md:grid-cols-7 
    md:items-center 
    md:justify-items-center;
  }
  .link {
    @apply text-gray-100
    border-2
    px-3
    py-1
    whitespace-nowrap
    border-gray-900
    hover:border-gray-100;
  }

  .banner {
    @apply grid 
    grid-rows-2 
    items-start 
    justify-items-center
    gap-4
    my-16
    border-gray-100 
    md:grid-rows-1 
    md:grid-cols-2 
    md:justify-items-start 
    md:my-52
    md:gap-0;
  }
  .bannerLeft {
    @apply grid 
      gap-3
      border-4
      font-Montserrat
      font-medium 
      text-gray-100
      text-4xl
      p-8
      text-center 
      self-end
      md:self-center
      md:justify-self-end
      md:leading-snug
      md:tracking-wide;
  }
  .bannerRight {
    @apply grid 
      gap-2
      justify-items-center
      font-Montserrat
    text-gray-100
      md:self-center
      md:justify-items-start
      md:p-10;
  }
  .bannerRightItem {
    @apply font-medium 
      text-4xl 
      md:leading-snug 
      md:tracking-wide;
  }
  .bannerButton {
    @apply border-solid
    border-2
    mt-4
    px-9
    py-2
    rounded-xl
    text-2xl 
    font-semibold 
    self-end
    leading-snug 
    tracking-wide
    duration-300
    hover:text-gray-900
    hover:border-gray-900
    hover:bg-gray-100;
  }
}
